body {
  	font-family: Calibri;
  	margin: 0px auto;	
	margin-top: 40px;
	padding: 0px;
	width : 900px;	
}

#all {
	width: 100%; 
	height: 100%; 
	overflow: hidden;
}

#headshot {
	width:220px;
}

#content {
	margin-left: 240px;
	
}

#me {
	width: 220px; 
	float: left;
}

#link {
	
}

}
a:link,{
	text-decoration: none;
	color: blue;
}

a:visited,{
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
}

#link a:visited {
  color: blue;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

p { margin:0 }


/*h1 {
  color: #008B8B;
}*/

/*div {
  border: 2px outset black;
}*/