body{
	font-family: Calibri;	
	margin: 0px auto;
	padding: 0px;
	width : 800px;
	position : relative;
}


#masthead{
	margin: 0;
	padding: 10px 0px;
	border-bottom: 1px solid #cccccc;
	width: 100%;
}

#siteName{
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-size: 20px;
}

#content{
	float:right;
	width: 68%;
	margin: 0;
	padding: 0 3% 3% 0;
}

#pagelist {
	position : absolute;
	left : 10px;
	top : 72px;
	width : 220px;
}

#pagelist ul{
	list-style : none;
}

#lst li {
	padding : 2px;
}

a:link,{
	text-decoration: none;
	color: blue;
}

a:visited,{
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
}

.feature{
	padding: 0px 0px 10px 10px;
}

.feature h3{
	padding: 15px 0px 5px 0px;
	text-align: center;
}

.feature img{
	float: left;
	padding: 0px 10px 0px 0px;
	margin: 0 5px 5px 0;
}

#me {
	float: left;
}
